<div class="container-fluid login">
  <div class="row d-flex justify-content-center">
    <h1>City Health Manager</h1>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-xs-12">
      <div class="card bg-dark" style="width: 25rem;height: 20rem;">
        <div class="card-body">
          <form>
            <app-city-login *ngIf="firstPageActive()" [cities]="cities" (next)="doNext($event)"></app-city-login>
            <app-user-login *ngIf="!firstPageActive()" (login)="login($event)" (back)="doBack($event)"
              [displayError]="loginFailed">
            </app-user-login>
          </form>
        </div>
      </div>
    </div>
  </div>
