<div class="container-fluid login d-flex flex-column">
  <div class="row d-flex justify-content-center h-25 w-100"></div>

  <div class="row h-50 d-flex flex-row justify-content-center">
    <div class="row d-flex justify-content-center align-self-center">
      <div class="col-xs-12">
        <div class="card bg-midnight-blue opacity-80" style="width: 25rem; height: 20rem;">
          <div class="card-body">
            <form>
              <app-city-login
                *ngIf="firstPageActive()"
                [cities]="cities"
                (next)="doNext($event)"
              ></app-city-login>
              <app-user-login
                *ngIf="!firstPageActive()"
                (login)="login($event)"
                (back)="doBack($event)"
                [displayError]="loginFailed"
              >
              </app-user-login>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
