<div>
  <div class="form-group">
    <button id="back-button" class="btn btn-primary" (click)="back.emit()">
      <fa-icon icon="angle-left"></fa-icon>
      Back
    </button>
  </div>
  <hr />
  <div class="form-group">
    <input
      [(ngModel)]="username"
      [ngModelOptions]="{ standalone: true }"
      placeholder="username"
      class="form-control text-dark"
    />
  </div>

  <div class="form-group">
    <input
      [(ngModel)]="password"
      [ngModelOptions]="{ standalone: true }"
      placeholder="password"
      type="password"
      class="form-control text-dark"
    />
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-block" (click)="clearLoginFields()">
      Login
    </button>
  </div>
  <div class="form-group">
    <div *ngIf="displayError" class="alert alert-danger">
      <small
        >The entered credentials don't match to any account.
        <strong>Please, try again.</strong></small
      >
    </div>
  </div>
</div>
